<form method="post" action="/api/session/restaurar">
  <label for="email">email:</label>
  <input type="email" name="email" required />
  <label for="password">new password:</label>
  <input type="password" name="password" required />
  <button type="submit">Restaurar</button>
</form>